.categories {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin: 18px;

    .image {
        width: 114px;
        height: 114px
    }

    .subtitle {
        font-size: 13px;
        font-weight: 700;
    }
}