.frame {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;

    .title-frame {
        font-size: 51px;
        color: white;
        margin: 179px 0 141px;
    }

    .button {
        width: 240px;
        height: 45px;
        border: none;
        font-size: 14px;
        font-weight: 600;
        margin: 0 auto;
    }
}