.card {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;

    .icons {
        display: flex;
        flex-direction: row;
        position: relative;
        padding-left: 12px;

        .new {
            margin-right: 98px;
            width: 33px;
            height: 17px;
            background-color: black;
            color: white;
            font-size: 11px;
            border-radius: 3px;
        }
    }
    .product-image {
        width: 176px;
        height: 176px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .title-product {
        font-size: 14px;
        letter-spacing: 0.42px;
        text-align: left;
        margin: 6px 0 0;
    }

    .details-product {
        margin-left: 6px;

        .prices {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .price {
                letter-spacing: 0.54px;
                font-size: 16px;
                font-weight: 700;
                margin: 5px 0 2px;
            }
            .previous-price {
                text-decoration: line-through;
                color: #9B9B9B;
                letter-spacing: 0.42px;
                margin: 5px 67px 0 0px;
                font-size: 14px;
            }
        }
        .category {
            font-size: 10px;
            text-align: left;
            letter-spacing: 0.3px;
            color: #4d4b4f;
            margin-top: 0;
        }
    }
}